
*.vsidx
*.vsidx
.vs/discord/FileContentIndex/5ca1c72a-9076-4b78-b7e6-f2e7488dbb35.vsidx
.vs/discord/v17/.suo
.vs/discord/v17/.suo
.vs/discord/FileContentIndex/5ca1c72a-9076-4b78-b7e6-f2e7488dbb35.vsidx
